<header class="header">
    <ul class="header_lists">
        <li class="header_item">
            <a href="/">Home</a>
        </li>
        <li class="header_item">
            <a href="/about">About</a>
        </li>
        <li class="header_item">
            <a href="/usage">Usage</a>
        </li>
        <li class="header_item">
            <a href="/opinion">Opinion</a>
        </li>
        <li class="header_item">
            <a href="/register">Register</a>
        </li>
    </ul>
    <% 
    // const searchBox  = document.querySelector(".search_box");
    
    %>
    <div class="search_box">
        <input type="text" class="searchInput">
        <button type="submit" class="submitButton">
            <i class="bi bi-search"></i>
        </button>
    </div>
</header>