<div class="wrapper">
    <h2 class="place_name-title">place_name</h2>
    <div class="place_image-wrapper">
        <img class="place_image" src="../../public/images/example.JPG" width="300" height="200">
    </div>
    <div class="google_map-wrapper">
        <img class="place_adress" src="../../public//images/example.JPG" width="300" height="200" alt="">
    </div>
    <div class="rating-wrapper" style="font-size: 30px;">
        <span class="rating_star">☆</span>
        <span class="rating_star">☆</span>
        <span class="rating_star">☆</span>
        <span class="rating_star">☆</span>
        <span class="rating_star">☆</span>
    </div>
    <div class="comments-wrapper">
        <p class="comment">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nesciunt dolorem cupiditate veniam inventore, aspernatur, adipisci repudiandae, porro ex sapiente fuga dolore. Ducimus cupiditate recusandae atque, tempora non hic praesentium?
        </p>
    </div>
</div>
