<div class="wrapper">
    <h2 class="place_name-title">place_name</h2>
    <div class="place_image-wrapper">
        <img class="place_image" src="../../public/images/example.JPG" width="300" height="200">
    </div>
</div>
