<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <title>Document</title>
    <%- include("./_share/stylesheet.ejs") %>
</head>
<body>
    <h1>hello world</h1>
</body>
    <%- include('./_share/js.ejs') %>
</html>