<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <%- include("./_share/stylesheet.ejs") %>
    <title>opinion</title>
</head>
<body>
    <h1>opinion</h1>
</body>
</html>