<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <%- include("./_share/stylesheet.ejs") %>
    <title>usage</title>
</head>
<body>
    <h1>usage</h1>
</body>
</html>