* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_lists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 24px;
}

.search_box {
    margin-left: 24px;
}